#welcome, #details, #magicNumber, #participants, #hiddenParticipants, #final {
    display: none;
}

body{
    display: flex;
    justify-content: center;
}

#contenedor{
    width: 980px;
    height: 500px;
    padding: 80px 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    background-color: #E6EBE0;
}

h1{ 
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', sans-serif;
    font-size: 48px;
    color: #5CA4A9;
}

h2{
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', sans-serif;
    color: #5CA4A9;
}

h3{
    font-weight: bold;
    font-family: 'Gill Sans', sans-serif;
    color: #FF963A;
    margin-top: 40px;
    margin-bottom: 80px;

}

p{
    text-align: center;
    text-size-adjust: 16px;
    font-family: 'Gill Sans', sans-serif;
    color: #5CA4A9;
    
}

label{
    font-family: 'Gill Sans', sans-serif;
    color: #5CA4A9;
}

button{
    background-color: #FF963A;
    font-size: 16px;
    font-family: 'Gill Sans', sans-serif;
    color: white;
    padding: 12px 28px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

input{
    width: 50%;
    padding: 10px 10px;
    margin: 5px 0px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Gill Sans', sans-serif;
    color: rgba(0,0,0,0.8);
}

input[type=date]{
    width: 20%;
}

input[type=number]{
    width: 10%;
}

ol{
    font-size: 16px;
    font-family: 'Gill Sans', sans-serif;
    color: #5CA4A9
}

li{
    font-size: 16px;
    font-family: 'Gill Sans', sans-serif;
    color: #5CA4A9
}

#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start{
    width: 300px;
}

.column1{
    display: flex;
    flex-direction: column;
    padding-left: 30%;
}

.column2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column3{
    width: 400px;
    margin-left: 300px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#show{
    width: 300px;
    margin-top: 10px;
    background-color: #5CA4A9;
}

#back1, #back2, #back3, #back4 {
    background-color: #9BC1BC;
}

#secretFriend{
    width: 300px;
    text-align: center;
}

#beginning{
    width: 200px;
}
/* Acá va tu código */